<h2>Double bars</h2>
<hr />
<div class="row">
  <div class="col md-6">
    <app-chart-bar
      [barChartData]="barChartData1"
      [barChartOptions]="barChartOptions1"
      [barChartType]="barChartType1"
      (randomizeEvent)="randomize1()"
    ></app-chart-bar>
  </div>
  <div class="col md-6">
    <app-chart-bar
      [barChartData]="chart2Data"
      [barChartType]="barChartType2"
      [barChartOptions]="barCharOptions2"
      (randomizeEvent)="randomize2()"
    ></app-chart-bar>
  </div>
</div>
